.wrapper {
  height: 85vh;
  display: flex;
}
.pokemon-list-wrapper{
  display: flex;
}
.pokemon-selected-box {
  flex: 1;
}

.pokemon-list-box {
  flex: 3;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 0px;
  background: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
}
.pokemon-list-box::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}
